.idea/vcs.xml
.idea/agent.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
__pycache__/meta_trader_manager.cpython-*.pyc
__pycache__/meta_trader_manager.cpython-313.pyc
test.py
